aiohttp==3.8.4
astroid==2.15.4
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.4.1
attrs==23.1.0
chardet==5.1.0
coverage==7.2.3
entrypoints==0.4
flake8==6.0.0
idna==3.4
importlib-metadata==6.6.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
more-itertools==9.1.0
multidict==6.0.4
packaging==23.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.17.3
pyparsing==3.0.9
pytest==7.3.1
pytest-asyncio==0.21.0
pytest-cov==4.0.0
pytest-mock==3.10.0
six==1.16.0
typed-ast==1.5.4
wcwidth==0.2.6
wrapt==1.15.0
yarl==1.9.2
zipp==3.15.0
build==0.10.0
twine==4.0.2
